@page "/diagrams/create"
@inject D2Wrapper D2Wrapper
@rendermode InteractiveServer

<PageTitle>Create Diagram - ArchDiagram</PageTitle>

<div class="container">
    <h1 class="mb-4">Create Diagram</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Diagram Script</h5>
                </div>
                <div class="card-body">
                    <textarea @bind="DiagramScript" rows="10" class="form-control" placeholder="Enter your D2 diagram script here..."></textarea>
                </div>
                <div class="card-footer">
                    <button @onclick="RenderDiagram" class="btn btn-primary">Render Diagram</button>
                    <button @onclick="SaveDiagram" class="btn btn-success ms-2">Save Diagram</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Rendered Diagram</h5>
                </div>
                <div class="card-body">
                    <div class="svg-container">
                        @((MarkupString)RenderedSvg)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .svg-container {
        width: 100%;
        padding-top: 100%;
        position: relative;
    }

    .svg-container svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

@code {
    private string DiagramScript { get; set; } = "";
    private string RenderedSvg { get; set; } = "";

    private void RenderDiagram()
    {
        RenderedSvg = D2Wrapper.RenderDiagram(DiagramScript) ?? "";
    }

    private void SaveDiagram()
    {
        // TODO: Implement saving the diagram
    }
}