@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Logout">Logout</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Login?redirectUri=/">Login</a>
        </li>
    </NotAuthorized>
</AuthorizeView>